
body {
    background: #fff;
}

h2 {
    text-align: center;
}

.form-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
}

input {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    outline: none;
}

.inner-wrapper {
    display: flex;
    gap: 9px;
    padding: 15px 0 15px 0;
}


